<footer>
  <div class="footer-content">
    <div class="footer-column">
      <h3>Redaruu</h3>
      <ul>
        <li><a routerLink="/home">{{ 'FOOTER.HOME' | translate }}</a></li>
        <li><a routerLink="/about">{{ 'FOOTER.ABOUT' | translate }}</a></li>
        <li><a routerLink="/galleria">{{ 'FOOTER.GALLERY' | translate }}</a></li>
        <li><a routerLink="/contatti">{{ 'FOOTER.CONTACTS' | translate }}</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h3>{{ 'FOOTER.CONTACTME' | translate }}</h3>
      <p>Email: redaruu@gmail.com</p>
    </div>
    <div class="footer-column">
      <h3>Social Media</h3>
      <div class="social-icons">
        <div class="social-row">
          <a href="https://www.instagram.com/redaruu/"
            ><img src="/assets/immagini/ig.png" alt="Instagram"
          /></a>
          <a href="https://www.facebook.com/people/Redaruu/100063922549988/"
            ><img src="/assets/immagini/fb.png" alt="Facebook"
          /></a>
          <a href="https://www.tiktok.com/@redaruu_?lang=en"
            ><img src="/assets/immagini/tiktok.png" alt="TikTok"
          /></a>
        </div>
        <a href='https://ko-fi.com/X8X31AQ849' class="ko-fi-link" target='_blank'><img src='https://storage.ko-fi.com/cdn/kofi3.png?v=6' alt='Buy Me a Coffee at ko-fi.com' /></a>
      </div>
    </div>
  </div>
  <hr/>
  <p class="firma">© 2025 Redaruu</p>
</footer>
