<div class="contenitore-pagina">
    <app-nav></app-nav>
    <div class="banner">
        <div class="banner-images">
          <img src="assets/immagini/banner/banner13.jpg" alt="Banner 1" />
          <img src="assets/immagini/banner/banner14.jpg" alt="Banner 2" />
          <img src="assets/immagini/banner/banner15.jpg" alt="Banner 3" />
          <img src="assets/immagini/banner/banner16.jpg" alt="Banner 4" />
          <img src="assets/immagini/banner/banner17.jpg" alt="Banner 5" />
          <img src="assets/immagini/banner/banner18.jpg" alt="Banner 6" />
        </div>
        <div class="banner-text">
          <h1>{{ 'ABOUT.TITLE' | translate }}</h1>
        </div>
      </div>
    <app-footer></app-footer>
</div>

