<div class="contenitore-pagina">
    <app-nav></app-nav>
    <div class="banner">
        <div class="banner-images">
          <img src="assets/immagini/banner/banner7.jpg" alt="Banner 1" />
          <img src="assets/immagini/banner/banner8.jpg" alt="Banner 2" />
          <img src="assets/immagini/banner/banner9.jpg" alt="Banner 3" />
          <img src="assets/immagini/banner/banner10.jpg" alt="Banner 4" />
          <img src="assets/immagini/banner/banner11.jpg" alt="Banner 5" />
          <img src="assets/immagini/banner/banner12.jpg" alt="Banner 6" />
        </div>
        <div class="banner-text">
          <h1>{{ 'CONTATTI.TITLE' | translate }}</h1>
        </div>
      </div>
    <div class="container-contatti">
      <div class="contact-content">
        <h2>{{ 'CONTATTI.CONTATTAMI' | translate }}</h2>
        <p>{{ 'CONTATTI.PRES' | translate }}</p>
        <div class="social-links">
          <p>Email: redaruu@gmail.com</p>
          <a href="https://www.instagram.com/redaruu/" target='_blank'>Instagram<img class="social-icons" src="assets/immagini/ig.png" alt="Instagram"></a>
          <a href="https://www.instagram.com/redaruu/" target='_blank'>Facebook<img class="social-icons" src="assets/immagini/fb.png" alt="Facebook"></a>
          <a href="https://www.instagram.com/redaruu/" target='_blank'>Tik Tok<img class="social-icons" src="assets/immagini/tiktok.png" alt="Tik Tok"></a>
          <a href='https://ko-fi.com/X8X31AQ849' target='_blank'>Ko-Fi<img height='36' style='border:0px;height:36px;margin-left:1rem;' src='https://storage.ko-fi.com/cdn/kofi3.png?v=6' alt='Buy Me a Coffee at ko-fi.com' /></a>
        </div>
        <div class="discount-code">
          <p>{{ 'CONTATTI.ANIBIU_1' | translate }}</p><a href="https://www.anibiu.com/" target="_blank">Anibiu Store </a><p>{{ 'CONTATTI.ANIBIU_2' | translate }}</p>
        </div>
        <div class="discount-code">
          <p>{{ 'CONTATTI.KAME_1' | translate }}</p><a href="https://kamehouseshop.it/" target="_blank">Kame House Shop </a><p>{{ 'CONTATTI.KAME_2' | translate }}</p>
        </div>
        <div class="discount-code">
          <p>{{ 'CONTATTI.MOCO_1' | translate }}</p><a href="https://mocoqueen.com//" target="_blank">Moco Queen </a><p>{{ 'CONTATTI.MOCO_2' | translate }}</p>
        </div>
        <div class="discount-code">
          <p>{{ 'CONTATTI.TTDEYE_1' | translate }}</p><a href="https://www.ttdeye.com/?aff=47304&fbclid=PAZXh0bgNhZW0CMTEAAaandbJC-FMFW9g6H3QOcVvZ4xgEQLvlLTGzsV5aZutTwJOlbHTRLq2qXHc_aem_eVbegtKBWT85AG0ByDtJ-g" target="_blank">Ttdeye </a><p>{{ 'CONTATTI.TTDEYE_2' | translate }}</p>
        </div>
      </div>
      <div class="contact-image">
        <img src="assets/immagini/contatti.jpg" alt="Contattami">
      </div>
    </div>
    
    <app-footer></app-footer>
</div>
